---
- hosts: localhost
  vars:
    common_packages:  # these have the same name on all systems
     - git
     - mercurial
     - subversion

     - lxc

     - python-virtualenv
    debian_packages:  # names spacific for Ubuntu/Debian
     - mercurial-git
    redhat_packages:  # names from RedHat/Fedora
     - hg-git

     - lxc-extra
     - pv

  tasks:
  # --- install software
  - name: ubuntu/debian - install packages
    apt: pkg={{ item }}
    with_items: common_packages + debian_packages
    when: ansible_os_family == "Debian"

  - name: fedora - install packages
    yum: name={{ item }}
    with_items: common_packages + redhat_packages
    when: ansible_os_family == "RedHat"

  # --- checkout software from sources
  - name: hg extensions in ~/.hgext
    file: path=~/.hgext state=directory

  - name: fetch hgsubversion
    hg: dest=~/.hgext/hgsubversion repo=https://bitbucket.org/durin42/hgsubversion
  - name: enable hgsubversion
    ini_file: dest=~/.hgrc section=extensions option=hgsubversion value=~/.hgext/hgsubversion/hgsubversion
